<div class="container text-center">
<img src="/assets/img/dp.png" alt="Burger and fries image" width="300">
  <div class="row">
    <div class="col">
      <div class="burgers-not-devoured">
        <h2>Delicious Burgers Hot and Ready!</h2>
        <div class="text-left">
          {{#each burgers}}
          {{#unless devoured}}
<div class="row ">
	<div class="col not-eaten-section">
		{{id}}.
		{{burger_name}}
	</div>

	<div class="col">
		<button class="eat btn btn-danger" data-id="{{id}}" data-newdevour="{{devour}}">
			Eat ME!
		</button>
	</div>
</div>          {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-5 mx-auto">
      <div class="add-burger">
        <h2>Add a burger!</h2>
        <form class="create-form">
          <div>
            <input type="text" id="burger" name="name">
          </div>
          <div>
              <br>
          <button class="btn btn-warning mx-auto" type="submit">Add burger</button>
          </div>
            <div class="form-group mx-auto">
            <label for="burger">Enter Your Favorite Burger Then Click Submit.</label>
          </div>
        </form>
      </div>
    </div>
    <div class="col" class="text-left">
      <div class="burgers-devoured">
        <h2>Already eaten. Ask again for your favorite burger!</h2>

        <div>
          {{#each burgers}}
          {{#if devoured}}
        <div class="col not-eaten-section">
	{{id}}.
	{{burger_name}}
</div>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>